/* slim left-nav width to 250 (was: 300) ... later back to 300 with lengthy Basic Concepts */
.book-summary {
  width: 300px;
}
.book.with-summary .book-body {
  left: 300px;
}

/* condense left-nav spacing (was: 10px 15px) */
.book-summary ul.summary li a, .book-summary ul.summary li span {
  padding: 5px 15px;
}

/* condense line-spacing */
.markdown-section {
  line-height: 1.4;     /* overall line-spacing (was: 1.7) */
}
.markdown-section pre {
  line-height: 1.2;     /* code-snippet line-spacing (was: 1.7) */
  padding:    .5em;     /* also reduce padding around code block (was: .85em 1em) */
}

/* diagram styles */
.diagram {
  background:     #fffffa;      /* light beige: neutral background color that looks good in all three gitbook styles */

  border-radius:  8px;          /* rounded border */

                                /* with a drop shadow effect */
  -webkit-filter: drop-shadow(8px 8px 10px gray); /* Safari 6.0 - 9.0 */
  filter:         drop-shadow(8px 8px 10px gray);

                                /* blur around frame */
  box-shadow: 0 0 8px 8px white inset;
}

/* simulated links used to inject content in youtube video iframe */
.video-link {
  cursor:          pointer;
  font-weight:     bold;
  text-decoration: underline;
}

.highlight {
  background-color: yellow !important;
}
