{
  "env": {
    "es6":     true,
    "browser": true,
    "node":    true,
    "jest":    true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "plugins": [ "react" ],
  "parserOptions": {
    "sourceType":   "module",
    "ecmaVersion":  2017,
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    },
  },
  "globals": {
    "before":   true, // before() is part of our unit test framework
    "describe": true, // describe() is part of our unit test framework
    "it":       true  // it()       is part of our unit test framework
  },
  "rules": {
    "no-console":      "off",                       // allow console logging
    "strict":          ["error", "never"],          // ES6 Modules imply a 'use strict'; ... specifying this is redundant
    "indent":          ["off",   2],                // allow any indentation
    "no-unused-vars":  ["error", {"args": "none"}], // allow unsed parameter declaration 
    "linebreak-style": "off",                       // allow both unix/windows carriage returns
    "quotes":          "off",                       // allow single or double quotes string literals
    "semi":            ["error", "always"],         // enforce semicolons
    "react/prop-types": "off"                       // do NOT inforce prop-types (it is all internally controled)
  }
}
