# do NOT publish any spec/ directory (unit tests spread throughout our src/ code base)
spec

# do NOT publish modules containing exclusive comments (JSDoc documenting redux expectations/types)
reduxAPI.js
